* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e;
    color: #ffffff;
}

.portfolio, .contact-section {
    width: 100%;
    background-color: #1e1e1e;
    color: white;
}

.menu {
    display: flex;
    justify-content: center; /* Cambié esto para centrar el menú */
    width: 50%;
    list-style: none;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}

.menu .active {
    color: #ff9800;
}

.menu a:hover {
    background-color: #ff9800;
    color: #121212;
}

.toggle-menu, .info-content .social-network {
    display: none;
}

.brand span {
    color: #ff9800;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.brand h2 {
    font-size: 2em; /* Ajusté el tamaño de la fuente */
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    align-items: center;
}

h1 {
    font-size: clamp(4vw, 1.5em, 3em);
    color: #ff9800;
}

span {
    color: #ff9800;
}

.download-cv, .project-details-button {
    padding: 10px 20px;
    background-color: #ff9800;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0px 3px 11px -5px rgba(255, 152, 0, 0.7);
    transition: all 0.3s ease-in-out;
}

.download-cv:hover, .project-details-button:hover {
    background-color: #ff5722;
    box-shadow: none;
}

.card {
    width: 300px
